*.pyc
*.idea
*.ini
./test_cases/results/*
test_cases/results/
test_cases/test_WebServiceAPI/results/output.xml
test_cases/test_WebServiceAPI/results/log.html
test_cases/test_WebServiceAPI/results/report.html
test_cases/webservices/results/output.xml
test_cases/webservices/results/log.html
test_cases/webservices/results/report.html
test_cases/webservices/artifacts/default.sqlite
test_cases/webservices/artifacts/Site_management_test.sqlite
test_cases/webservices/artifacts/New_Site.sqlite
test_cases/Polaris/artifacts/default.sqlite
test_cases/Polaris/results/log.html
test_cases/Polaris/results/output.xml
test_cases/Polaris/results/report.html
test_cases/Polaris/results/artifacts/screenshots/screenshot-1.png
test_cases/archive/results/report.html
test_cases/archive/results/output.xml
test_cases/archive/results/log.html
test_cases/firmware/results/log.html
test_cases/firmware/results/output.xml
test_cases/firmware/results/report.html
test_cases/webservices/artifacts/Site.sqlite
test_cases/webservices/results/results/report.html
test_cases/webservices/results/results/log.html
test_cases/webservices/results/artifacts/default.sqlite
test_cases/webservices/results/artifacts/Site.sqlite
test_cases/webservices/results/results/output.xml
